/* body{
    background-color: rgb(16, 13, 13);
    color: white;
} */
body{
    color : rgb(16, 13, 13);
    background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}